* {
  box-sizing: border-box;  
}

.SPA-App {
  background-color:yellow;
}

.topsection {
  background-color:yellow;
  height: 50px;
}

.midsection {
  background-color: lightblue;
  height: 800px;
}

.article {
  background-color: lightgrey;
  width: 70%;
  float: left;
  height: 800px;
  padding: 3% 3% 3% 3%;

}
.navigation {
  background-color: lightblue;
  width: 30%;
  float: left;
  height: 800px;
  text-align: center;
  padding: 1% 3% 1% 1%;
}

.bottomsection{
  background-color: yellow;
  height: 50px;
  text-align: center;
}
